.navbar-default {
border: none;
}
.navbar-default .navbar-header img {
    max-height: 50px;
}
.page-body {
    padding-top: 100px;
}
.contact-items .glyphicon {
    padding-right: 10px;
    color: #cccccc;
    font-size:20px;
}
.tlacitko-moje {
    padding: 10px;
    border: 1px solid #000;
    border-radius: 5px;
    color: #000;
    display: inline-block;
}
.tlacitko-moje:hover {
    text-decoration: none;
    color: #FFF;
    background-color: #000;
}
.moj-formular .row {
    padding: 10px 0 10px 0;
}
.field-validation-error {
    color: #FF0000;
}
.img-responsive img {
    max-width: 100%;
}